<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="." mimeType="*/*" />
            <mimeMap fileExtension=".idx" mimeType="git/index" />
            <mimeMap fileExtension=".pack" mimeType="git/packfile" />
        </staticContent>
    </system.webServer>
</configuration>
